<a href="https://colab.research.google.com/github/thaonguyyen/DS2002-HW/blob/main/MongoLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Connecting to MongoDB**

In [ ]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [ ]:
connection_string = "mongodb+srv://thao:mongolab@cluster0.fzlbxrh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = pymongo.MongoClient(connection_string)

print(client.list_database_names())

['sample_mflix', 'admin', 'local']

**Exercise 2: Creating and Using a Database**

In [ ]:
db = client["thao_class"]
collections = db.list_collection_names()
print("Collections:", collections)

Collections: []

**Exercise 3: Creating a Collection and Inserting Documents**

In [99]:
db = client["students"]

students_collection = db.students

#insert single document
one_student = {
    "name": "andrew",
    "grade": "C",
    "major": "Gender Studies",
    "year": "3",
    "email": "andrew@example.com"
}
result = students_collection.insert_one(one_student)

#insert multiple documents
multiple_students = [
    {"name": "thao", "grade": "A+", "major": "Computer Science", "year": "3", "email": "thao@example.com"},
    {"name": "john", "grade": "B", "major": "Physics", "year": "1", "email": "john@example.com"},
    {"name": "jane", "grade": "A-", "major": "Literature", "year": "4", "email": "jane@example.com"}
]
result = students_collection.insert_many(multiple_students)

**Exercise 4: Querying Documents**

In [100]:
all_students = students_collection.find()
for student in all_students:
  print(student)

{'_id': ObjectId('65fddae6bc7facccac753196'), 'name': 'andrew', 'grade': 'C', 'major': 'Gender Studies', 'year': '3', 'email': 'andrew@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753197'), 'name': 'thao', 'grade': 'A+', 'major': 'Computer Science', 'year': '3', 'email': 'thao@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753198'), 'name': 'john', 'grade': 'B', 'major': 'Physics', 'year': '1', 'email': 'john@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753199'), 'name': 'jane', 'grade': 'A-', 'major': 'Literature', 'year': '4', 'email': 'jane@example.com'}

In [101]:
query = {"major": "Computer Science"}
specific_student = students_collection.find_one(query)
print(specific_student)

{'_id': ObjectId('65fddae6bc7facccac753197'), 'name': 'thao', 'grade': 'A+', 'major': 'Computer Science', 'year': '3', 'email': 'thao@example.com'}

**Exercise 5: Updating Documents**

In [103]:
#update one
filter = {"name": "john"}
update = {"$set": {"major": "Computer Engineering"}}
result = students_collection.update_one(filter, update)

#update multiple
filter = {"year": "3"}
update = {"$set": {"grade": "A"}}
result = students_collection.update_many(filter, update)

In [104]:
all_students = students_collection.find()
for student in all_students:
  print(student)

{'_id': ObjectId('65fddae6bc7facccac753196'), 'name': 'andrew', 'grade': 'A', 'major': 'Gender Studies', 'year': '3', 'email': 'andrew@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753197'), 'name': 'thao', 'grade': 'A', 'major': 'Computer Science', 'year': '3', 'email': 'thao@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753198'), 'name': 'john', 'grade': 'B', 'major': 'Computer Engineering', 'year': '1', 'email': 'john@example.com'}
{'_id': ObjectId('65fddae6bc7facccac753199'), 'name': 'jane', 'grade': 'A-', 'major': 'Literature', 'year': '4', 'email': 'jane@example.com'}

**Exercise 6: Deleting Documents**

In [106]:
#delete one
filter = {"name": "john"}
result = students_collection.delete_one(filter)

#delete multiple
filter = {"year": "3"}
result = students_collection.delete_many(filter)

In [107]:
all_students = students_collection.find()
for student in all_students:
  print(student)

{'_id': ObjectId('65fddae6bc7facccac753199'), 'name': 'jane', 'grade': 'A-', 'major': 'Literature', 'year': '4', 'email': 'jane@example.com'}